@media (max-width: 1024px) {
    .wrapper .stopwath {
        font-size: 11px;
    }
    .wrapper .stopwath span {
        margin-top: 50px;
    }
    .wrapper .hederCircle {
        width: 550px;
    }
    .wrapper .circle {
        width: 550px;
    }
    .wrapper .circle .laps{
        padding-bottom: 120px;
    }
    .wrapper .controls {
        flex-wrap: wrap;
        width: 550px;
        left: calc(50% - 275px);
    }
}

@media (max-width: 660px) {
    .wrapper .stopwath span {
        font-size: 110px;
    }
    .wrapper .timeCircle {
        margin-top: -10px;
    }
    .wrapper .timeCircle span {
        font-size: 30px;
    }
    .wrapper .hederCircle {
        width: 350px;
    }
    .wrapper .circle {
        width: 350px;
    }
    .wrapper .circle .laps{
        padding-bottom: 165px;
    }
    .wrapper .controls {
        width: 350px;
        left: calc(50% - 175px);
    }
}

@media (max-width: 410px) {
    .wrapper .stopwath span {
        font-size: 80px;
    }
    .wrapper .timeCircle {
        margin-top: 0px;
    }
    .wrapper .hederCircle {
        width: 250px;
    }
    .wrapper .circle {
        width: 250px;
    }
    .wrapper .controls {
        width: 300px;
        left: calc(50% - 150px);
    }
}